<div class="container">
  {{#each this}}
  <section class="border border-dark m-2 p-2">
    <div>
      {{user.username}} on {{ format_date created_at}}
    </div>
    <div>
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>