<article>
    <section>
        <div>
            <h2>Create New Blog Post</h2>
        </div>
        <div>
            <form class="new-post-form">
                <div>
                    <label>Title</label>
                    <input type="text" id="post-title" name="post-title" />
                </div>
                <div>
                    <label>Content</label>
                    <textarea class="entry-field" id="post-content" name="post-content"></textarea>
                </div>
                <button type="submit">Create</button>
            </form>
        </div>
    </section>
</article>

<script src="/js/add-post.js"></script>