<section class="container">
    <div>
        <h1>Sign Up</h1>
    </div>
    <div>
        <form class="signup-form">
            <div>
                <label for="username-signup">Select a Username</label>
                <input type="text" id="username-signup" />
            </div>
            <div>
                <label for="password-signup">Select a password</label>
                <input type="password" id="password-signup" />
            </div>
            <div>
                <button type="submit" class="btn btn-dark m-3">Sign Up!</button>
            </div>
        </form>
    </div>

    <a href="/login" class="link-dark">Log In</a>
</section>

<script src="/js/signup.js"></script>