<section>
    <div>
        <h1>Sign Up</h1>
    </div>
    <div>
        <form class="signup-form">
            <div>
                <label for="username-signup">Select a Username</label>
                <input type="text" id="username-signup" />
            </div>
            <div>
                <label for="password-signup">Select a password</label>
                <input type="password" id="password-signup" />
            </div>
            <div>
                <button type="submit">Sign Up!</button>
            </div>
        </form>
    </div>

    <a href="/login">Log In</a>
</section>

<script src="/js/signup.js"></script>